{% extends 'base.html.twig' %}

{% block title %}Création d'un TODO{% endblock %}

{% block body %}
    <h2 class="page-header">Création d'un TODO</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block stylesheets %}

{% endblock %}
