{% extends 'base.html.twig' %}

{% block title %}Modification de {% endblock %}

{% block body %}
    <h2 class="page-header">Modification d'un TODO</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block stylesheets %}

{% endblock %}